.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 380px;
  padding: 15px;
  margin: 20px auto;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.label {
  font-size: 14px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.input {
  width: 350px;
  padding: 8px 10px;
  margin-bottom: 10px;

  border: 1px solid #ccc;

  font-family: inherit;
  font-size: 16px;
  outline: none;
}

.submitBtn {
  display: block;
  width: 120px;
  padding: 8px 10px;
  margin: 0 auto;

  border: none;
  border-radius: 4px;

  cursor: pointer;
  background-color: rgb(235, 226, 226);
  color: #000000;
  font-family: inherit;
  font-size: 16px;
}

.submitBtn:hover {
  background-color: #979494;
  color: rgb(237, 40, 40);
}

.errorText {
  font-size: 14px;
  color: red;
  background-color: rgb(235, 226, 226);
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
}
