.nav {
  display: flex;
  gap: 24px;
}

.navLink {
  display: inline-block;
  padding: 5px;
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  transition: all 0.2s linear;
  text-decoration: none;
  border-radius: 5px;
}

.navLinkActive {
  color: rgb(237, 40, 40);
  background-color: rgb(235, 226, 226);
}
