.contactList {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  box-shadow: 11px 10px 25px 4px rgba(0, 0, 0, 0.24);
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
